.app {
    min-height: 100vh;
    padding: 2rem;
    transition: all 0.3s ease;
}

.lightMood{
    background-color: bisque;
    color: rgb(0, 0, 91);
}
.darkMood{
    background-color: rgb(0, 0, 91);
    color: bisque;
}


